<nav class="mb-3 navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link {{#homenav}}active{{/homenav}}" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#calculatornav}}active{{/calculatornav}}" href="/calculator">Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#workoutnav}}active{{/workoutnav}}" href="/workout">Workout</a>
            </li>
            <li class="nav-item me-2" id="logout">
                <a class="nav-link" href="/">Logout</a>
            </li>
        </ul>
    </div>
</nav>